<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Basal Area (ft^2)</th>
      <th>Density (trees/acre)</th>
      <th>ndvi</th>
      <th>elv</th>
    </tr>
    <tr>
      <th>Class</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Spring '23</th>
      <td>144.375</td>
      <td>57.439375</td>
      <td>0.433876</td>
      <td>213.5</td>
    </tr>
    <tr>
      <th>Spring '24</th>
      <td>140.000</td>
      <td>113.730000</td>
      <td>0.029413</td>
      <td>612.0</td>
    </tr>
  </tbody>
</table>